.operations__table {
    width: 100%;
    border-radius: 5px;
    border-spacing: 0;
    border-color: transparent;
    
}

.table__header {
    background-color: $color-theme;
    color: #ffffff;


    th {
    border: none;
    padding: 0.2rem;
    text-align: start;
    }
}

.table__body {
    background-color: #ffffff;
    height: 300px;
    overflow: hidden;


    td {
        padding: 10px;
        border-bottom: 2px solid $color-backgroung;
    }
}